
 
<div id="sidebar" ng-controller="sideBarCtrl">
			Number of guests: {{ guestNumber()}}
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<button ng-click="setNumberOfGuest( guestNumber() -1)" id="minusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
				<div class="col-md-2">
					<button ng-click="setNumberOfGuest( guestNumber()+ 1)" id="plusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>
				<p id="chosenMenu">  </p>
				<table id="chosenDishes">
					<tr ng-repeat="menu in menuList()">
						<td>
							<a ng-href="#/dish/{{menu.RecipeID}}"><button class="btn"> {{ menu.Title }} {{menu.Ingredients.length}} SEK </button></a><button ng-click="remove()" id="{{menu.RecipeID}}" class="btn btn-danger"><span id="{{menu.RecipeID}}" class="glyphicon glyphicon-remove"></span></button>
						</td>
					</tr>
				</table>
		<hr noshade>
		<p id ="totalPrice">Total Price: {{setFullPrice()}} SEK</p>
		<div>
			<a ng-href="#/summary"><button class="btn btn-primary" id="confirmDinner">Confirm Dinner</button></a>
		</div>

</div>
