
 
<div id="sidebar" ng-controller="sideBarCtrl">
			Number of guests: {{ guestNumber()}}
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<button ng-click="setNumberOfGuest( guestNumber() -1)" id="minusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
				<div class="col-md-2">
					<button ng-click="setNumberOfGuest( guestNumber()+ 1)" id="plusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>
				<p id="chosenMenu">  </p>
				<table id="chosenDishes">
					<tr ng-repeat="menu in menuList()">
						<td>
							{{ menu.Title }}
						</td>
					</tr>
						
					
					<td id ="cellPending"> Pending 0.00 SEK</td>
				</table>
		<hr noshade>
		<p id ="totalPrice"></p>
		<div>
			<button class="btn btn-primary" id="confirmDinner">Confirm Dinner</button>
		</div>

</div>
